@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding: 0;
}

body{
    background: rgb(243, 243, 243);
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    padding-bottom: 30px;

}
.logo{
    padding-left:173px;
    padding-top: 36.1px;
}

.links{
    margin-left: 122.4px;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 8px;
}
.links a{
    align-content:flex-end;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight:400 ;
}
.links a+a{
    margin-left:30px;
}

header{
    display: flex;
    justify-content: center;
}

.description{
    background:#FBDFDB;
    display: flex;
    width:940px;
    height: 366px;
    border-radius: 30px;
    justify-content: space-around;
}

.about{
    width:303px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about h1{
    padding-bottom: 10px;
    color: #111111;
    font-size: 32px;
    font-weight: 700;
}

.about p{
    font-weight: 400;
}

.chef-img{

    display:flex;
    flex-direction: column-reverse;
    margin-bottom: -6px;
}
main{
    height:40px;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
main .title{
    width:940px;
}
.content{
    width: 940px;

}

.content{
    margin-top: 20px;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    position:relative;
}

.card{
    border:solid 0.3px #ccc;
    border-radius: 15px 15px 5px 5px;
    cursor:pointer;

}
.card .top img{
    width:300px;
    height:140px;
    border-radius: 15px;
}

