<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/footer.css">
</head>
<body>
    {%block footer%}
<footer>
    <p>Todos os direitos reservados receitas Foodyfy</p>
</footer>
{%endblock%}
</body>
</html>
