
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{%block header%}
    <title>{{tim.title}}</title>
{%endblock%}
    
<body>
    


</head>
{%block menu%}
    <nav>
        <div class="logo">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="links">
            <a href="">Sobre</a>
            <a href="/recipes">Receitas</a>
        </div>
    </nav>
{%endblock%}

</body>